@media (max-width: 574px) {
    body{
        font-size: 12px !important;
    }

    h1{
        font-size: 30px !important;
    }

    i{
        font-size: 20px !important;
    }
}

@media (orientation: portrait) {
    body{
        background-image: url(../img/fondo-contacto-mobile.png);
    }
}

@media (orientation: landscape) {
    body{
        background-image: url(../img/fondo-contacto.png);
    }
}

body{
    font-family: 'Montserrat', sans-serif;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 a{
    color: #e20000;
    text-decoration: none;
}

h1 a:hover{
    color: blueviolet;
    text-decoration: none;
}

button{
    background-color: #e20000 !important;
    color: white !important;
}

button:hover{
    background-color: blueviolet !important;
}

i{
    color: blueviolet;
}

i:hover{
    color: #e20000;
}