
h1 {
    font-size: 45px;
}

.form-control, .form-control:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 0%;
}

.form-control input[type=file] button {
    border-radius: 120px;
}

tbody a i {
    color: white;
    font-size: 13px;
}

tbody a .fa-edit {
    background-color: rgb(0, 170, 170);
}

tbody a .fa-trash-alt {
    background-color: rgb(197, 48, 48);
}

tbody td a, tbody td a:hover {
    color: black;
    text-decoration-line: none;
}